/*Claudia Nistal Martinez, UO294420*/

/*Especificidad: 001*/
main {
    display: grid;                   
    grid-gap: 2em;                   
    padding: 1em;
    justify-items: center;        
    grid-template-columns: repeat(3, 1fr);   
    width: auto;
}

/*Especificidad: 001*/
article {
    background-color: #333652;
    border-radius: 1em;
    padding: 1.5em;
    margin: 1.5em auto; 
    max-width: 37em;                   
}

/*Especificidad: 002*/
article h3 {
    font-size: 1.5em;
    color: #FFA303;
    text-align: center;
    font-weight: bold;
    padding-left: 0%;
}

/*Especificidad: 002*/
article p {
    font-size: 1.1em;
    color: #fcfcfc;
    line-height: 1.6;
    text-align: center;
    padding: 0;
}


/* Media Queries */
@media (max-width: 768px) {
    /*Especificidad: 001*/
    main{
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        font-size: small;
        grid-gap: 0;
    }
    /*Especificidad: 001*/
    article {
        width: 50%;
    }
    /*Especificidad: 001*/
    article p {
        padding: 0;
    }
}


@media (max-width: 480px) {
    /*Especificidad: 001*/
    main{
        grid-template-columns: repeat(1, 1fr);
        margin: 0;
        font-size: small;
        grid-gap: 0;
    }
    /*Especificidad: 001*/
    article {
        width: 50%;
    }
    /*Especificidad: 001*/
    article p {
        padding: 0;
    }
   
}
