/*Claudia Nistal Martinez, UO294420*/

/*Especificidad: 001*/
header {
    background-color: #333652;
    color: #fff;   
    display: flex;
    flex-direction: column;
}

/*Especificidad: 002*/
header a {
    padding: 1em;
}

/*Especificidad: 001*/
/*Color de fondo heredado de header*/
h1{
    padding: 1em 2em 0em 2em; 
    color: #fff;   
    font-size: 3em;
}

/*Especificidad: 001*/
nav{
    padding-left: 2em;
    padding-bottom: 1.5em;
}

/*Especificidad: 002*/
/*Color de fondo heredado de header*/
nav a{
    color: #fff; 
    padding-bottom: 1em;
    padding-left: 1em;
}

/*Especificidad: 012*/
/* Estilo para el enlace activo */
/* Color de fondo heredado de header*/
nav a.active {
    color: #FFA303; 
    font-weight: bold; 
    border: 0.125em solid #ffcc00;
    border-radius: 0.3em; 
    padding: 0.2em;
}


/* Media Queries para dispositivos tablet */
@media (max-width: 768px) {
    /*Especificidad: 001*/
    header {
        flex-direction: column; /* Mantiene el encabezado en columna. Redefinicion de header para tablet */
        align-items: center; /* Centra el contenido */
    }

    /*Especificidad: 001*/
    h1 {
        font-size: 2em; /* Redefinicion de h1 para tablet*/
        padding: 1em; /* Redefinicion de h1 para tablet*/
    }

    /*Especificidad: 001*/
    nav {
        padding-left: 0; /* Elimina el padding izquierdo. Redefinicion de nav para tablet */
        padding-bottom: 1em; /* Ajusta el padding inferior. Redefinicion de nav para tablet*/
    }

    /*Especificidad: 002*/
    nav a {
        padding: 0.5em 1em; /* Ajusta el espaciado para enlaces. Redefinicion de nav a para tablet*/
        display: block; /* Hace que cada enlace ocupe toda la línea */
        text-align: center; /* Centra el texto de los enlaces */
    }
}

/* Media Queries para dispositivos moviles */
@media (max-width: 480px) {
    /*Especificidad: 001*/
    h1 {
        font-size: 1.5em;   /* Redefinición para móvil */
    }

    /*Especificidad: 002*/
    nav a {
        padding: 0.5em; /* Reduce el espaciado interno. Redefinición para móvil*/
    }
}
